/* @settings
name: Letards Snippet Theme
id: letards-snippet-theme
settings:
  - 
    id: letard-tpc
    title: Toggle Plugin Compatability
    description: Toggle Plugin Compatability
    type: class-toggle
    default: true
  -
    id: letard-ssr
    title: Hide Sidebar Ribbons
    description: Hide Sidebar Ribbons
    type: class-toggle
    default: true
  -
    id: letard-hrf
    title: Hide Resource Folders
    description: Hide Resource Folders in File Explorer
    type: class-toggle
    default: false
  -
    id: letard-male
    title: Active Line Emphasized
    description: Emphasizes Active Line
    type: class-toggle
    default: true
  -  
    id: letard-misc
    title: Miscellaneous
    description: Miscellaneous: Full-width status bar, etc.
    type: class-toggle
    default: true
  -
*/

:root {
    --color-black: hsla(0, 0%, 13%, 1);
    --color-dark-gray: hsla(0, 0%, 33%, 1);
    --color-button-hover: hsla(212, 17%, 80%, 0.3);
    --button-radius: 4px;
    /* --color-letard-active: #8273e6; #7aa0cb */
    /* --interactive-accent-hover: #7396bf; #7b6cd9; #5c7898*/
}

/* -------------------------------------- */
/* Highlight Active File in File Explorer */
/* -------------------------------------- */

.nav-file-title.is-active {
    border-bottom: 1px solid var(--color-accent);
}

/* -------------------------------------- */
/* Make Status bar smaller but full width */
/* -------------------------------------- */
.letard-misc .status-bar {
    height: 25px;
    position: static;
    border-radius: 0;
}

/* ----------------------------------- */
/* Better Sidebar (from Mado Theme) */
/* ----------------------------------- */

/* Left dock Ribbon hidden (includes expand button) */
.letard-ssr .workspace-ribbon {
    visibility: collapse;
    position: absolute;
}

/* TODO: Make Collapse work -> correct positioning */

/* Show Collapse button */
/* .letard-ssr .sidebar-toggle-button.mod-left {
    visibility: visible;
} */

/* Show expand button when hovered */
/* .letard-ssr .workspace-ribbon-collapse-btn {
  position: fixed;
  visibility: visible;
  top: 0;
  opacity: 0;
  padding: 7px;
  color: var(--color-dark-gray);
  border-radius: var(--button-radius);
  transition: 0.1s background, 0.1s opacity;
} */

/* Fix left ribbon position for easier hovering */
/* .letard-ssr
    .workspace-ribbon.side-dock-ribbon.mod-left
    .workspace-ribbon-collapse-btn {
    left: -1px;
} */

.letard-ssr .side-dock-settings {
    position: fixed;
    visibility: visible;
    bottom: 21px;
    padding: 0 0 10px 0;
    margin-bottom: 0;
    opacity: 0.4;
    color: var(--color-dark-gray);
    border-radius: var(--button-radius);
    transition: 0.1s background, 0.1s opacity;
}

/* Highlight settings dock on hover */
.letard-ssr .side-dock-settings:hover {
    visibility: visible;
    opacity: 1;
    background: var(--color-button-hover);
    border: 1px solid var(--color-gray);
    color: var(--color-black);
}

/* Remove style for border-on-active */
.letard-ssr .workspace-tabs .workspace-leaf,
.letard-ssr .workspace-tabs .workspace-leaf.mod-active {
    border: none;
}

/* -------------------- */
/* Plugin Compatability */
/* -------------------- */

/* Commander: Remove Add button in Title bar */
/* .letard-tpc .titlebar-button.cmdr {
    display: none;
} */

/* Commander: Place Add button first in Markdown View header */
/* .letard-tpc .view-actions > .cmdr-adder {
    order: -1;
} */

/* Calendar: Highlight current day */
.letard-tpc .workspace-leaf-content[data-type="calendar"] .today:not(.active) {
    outline: var(--color-letard-active) solid 1px;
    outline-offset: -1px;
}

/*Kanban Checkboxes */
/* .letard-tpc .kanban-plugin__item-prefix-button-wrapper input[type="checkbox"],
.letard-tpc .kanban-plugin__item.is-complete .task-list-item-checkbox {
  filter: unset !important;
}

.letard-tpc .kanban-plugin__item.is-complete .task-list-item-checkbox {
  background-color: #7aa0cb;
} */

/* ------------- */
/* Miscellaneous */
/* ------------- */

/* Remove Action Buttons from "No File Open"-view */
/* .empty-state-action-list {
    display: none;
} */

/* Make Latex font size bigger */
/* mjx-container {
    line-height: 0px;
    font-size: calc(1.25 * var(--editor-font-size));
} */

/* Hide folders with "_" prefix */
.letard-hrf .nav-folder-title[data-path^="_"] {
    display: none;
}

/* Emphasize Active Line (from Shimmering Focus) */
.letard-male :is(.cm-active, .CodeMirror-activeline).HyperMD-codeblock::before,
body
    :is(.cm-active, .CodeMirror-activeline):not(.HyperMD-quote, .HyperMD-header, .HyperMD-codeblock)::before {
    content: " ";
    height: 100%;
    position: absolute;
    left: -8px;
    top: 0px;
    border-left: 4px solid hsl(220 35% 73%);
}
body:not(.letard-male)
    :is(.cm-active, .CodeMirror-activeline).HyperMD-list-line::before {
    top: 2px;
}
.letard-male .CodeMirror-activeline .CodeMirror-linebackground,
.letard-male .cm-active:not(.cm-gutterElement) {
    background-color: hsl(62 11% 63% / 8%);
    border-radius: 7px;
}
